// Color the link title green if it is the current page
.current {
    color: green;
  }

body {
      background-color: #393646;
      margin: 0;
      padding: 0;
    }

.navigation {
  background-color: #F4EEE0;
  padding: 10px;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
  margin-right: 10px;
}

.panel {
  background-color: #6D5D6E;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  overflow-y: scroll;
  height: 400px;
}

.panel::-webkit-scrollbar {
  width: 8px;
}

.panel::-webkit-scrollbar-thumb {
  background-color: #F4EEE0;
  border-radius: 4px;
}

.blog-post {
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 10px;
}
