<!doctype html>
<html>
  <!-- Header level definitions and imports -->
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!-- Link to the stylesheet for sass css -->
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <!-- Below are the actual website contents -->
  <body>
      <!-- Navigation Panel along the top of the page -->
      <div class="navigation">
      {% include navigation.html %}
      </div>
    <!-- Site Specific Content -->
    <div>
        {{ content }}
    </div>
  </body>
</html>
